<% if current_user.present? %>
  
  <% @users.each do |user| %>
  
  <div>
    
    <% if user.avatar.present? %>
      <img src="<%= (url_for(user.avatar)) %>" class="img-fluid rounded-circle"><br>
    <% end %>
  
  <%= link_to user.full_name, user %>
  
  </div>
  
  <% end %>
  
<% end %>