<h1>Editing gear item</h1>

<%= render "form", gear_item: @gear_item %>
<%= button_to "Destroy this gear item", @gear_item, method: :delete %>
<br>

<div>
  <%= link_to "Show this gear item", @gear_item %> |
  <%= link_to "Back to gear items", gear_items_path %>
</div>
