<p style="color: green"><%= notice %></p>

<h1>Gear items</h1>

<div id="gear_items" class="row d-flex justify-content-around align-items-center">
  <% @gear_items.each do |gear_item| %>
  <div class="col-md-3 col-s-1 d-inline-flex text-center px-3 py-2 rounded">
    <%= render gear_item %>
  </div>
  <% end %>
</div>  




    
  