<p style="color: green"><%= notice %></p>

<h1>Gear items</h1>

<div id="gear_items row">
  <% @gear_items.each do |gear_item| %>
  <div class="col-xs">
    <%= render gear_item %>
  </div>
  <% end %>
</div>



    
  